/* docs/stylesheets/extra.css */

/* 1. 定义字体 (引用刚才改名后的文件) */
@font-face {
    font-family: 'MyJetBrains';  /* 起个新名字，强制浏览器不使用系统缓存 */
    src: url('../assets/fonts/jb-reg.woff2') format('woff2'); /* 对应 jb-reg.woff2 */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MyJetBrains';
    src: url('../assets/fonts/jb-bold.woff2') format('woff2'); /* 对应 jb-bold.woff2 */
    font-weight: 700;
    font-style: normal;
}

/* 2. 变量定义 */
:root {
    --md-text-font-family: "MyJetBrains", sans-serif;
    --md-code-font-family: "MyJetBrains", monospace;
}

/* 3. 强制全局覆盖 */
body, input, .md-header, .md-nav, .md-footer, .md-select {
    font-family: var(--md-text-font-family) !important;
}

pre, code, kbd, .md-typeset pre code {
    font-family: var(--md-code-font-family) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--md-text-font-family) !important;
    font-weight: 700 !important;
}

/* 4. 深色模式 */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #0d0d0d;
    --md-default-bg-color--light: #1a1a1a;
    --md-default-fg-color--light: #adbac7;
    --md-code-bg-color: #161618;
    --md-accent-fg-color: #7e56c2;
}

/* 5. 首页特效 */
.hero-text-gradient {
    background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

@media screen and (min-width: 1220px) {
    .md-sidebar--secondary { display: block; }
}